<div class="row h-100" style="border: 1px solid #696969; background: white; position: relative;" >
    <div class="col-12 header">
        <div  appLogoImage class="header-logo"></div>
        <div class="close-login" (click)="closeClick($event)"><i class="far fa-times"></i></div>
    </div>

<a class="back-btn" (click)="backClick($event)">{{'BACK' | translate}}</a>

<div class="user-activation">
    
    <div class="activation-container flex-column d-flex">
        <div class="row flex-grow-1 reset-password">
            <div class="col-sm-12" style="    
                padding-left: 1.25rem;">
                <span>{{'FORGOTPASSTITLE' | translate}} </span>  <i class="fas fa-key"></i>
            </div>

        <form #form="ngForm" ngForm autocomplete="off"  (submit)="onSubmit(form)">
        
            
        
                <div class="container-fluid form-cols">
                <div class="row"  *ngIf="state=='email'">
                   
                        <label style="padding: 0.5rem;">{{'ENTERYOUREMAIL' | translate }}
                            <span style="color: red" class="req-asterisk">*</span></label>
                        <form-input [field]="field" (valueChange)="changeHandler($event, field)"
                        [disabled]="inviteSent" 
                        [value]="formData[field.name]" [attr.belongs-to]="'login-modal'"
                        [formData]="formData" *ngFor="let field of fU1"></form-input>
                </div>
                
                
                <div class="row" *ngIf="state == 'reset'">
                        
                        
                
                        <!-- Password -->
                        
                        <form-input [field]="field" [value]="formData[field.name]" 
                        [disabled]="registered"
                        (valueChange)="changePassHandler($event, field.name)" (keyUp)="keyUpPass($event, field.name)"
                        [formData]="formData" *ngFor="let field of f1" [attr.belongs-to]="'login-modal'"></form-input>
                
                        <div class="col-sm-9" style="padding-top: 2em">
                            <app-pass-validation-stepper
                            *ngIf="sdef" #stepper
                                [startColor]="'rgb(241,90,64)'"
                                [endColor]="'rgb(168,255,157)'"
                                [username]="formData.userName"
                                [password]="formData.password"
                                [def]="sdef"
                            ></app-pass-validation-stepper>
                        </div>
                
                        <form-input [field]="field" [value]="formData[field.name]" 
                        [disabled]="registered"
                        (valueChange)="changePassHandler($event, field.name)" (keyUp)="keyUpPass($event, field.name)"
                        [formData]="formData" *ngFor="let field of f2" [attr.belongs-to]="'login-modal'"></form-input>
                        <div class="col-sm-9" style="color: red; padding-top: 2.4em;">
                            {{f2[0].valid === false?('PasswordsMissmatch' | translate):''}}
                            <div *ngIf="passreqMsg" >
                                {{('PasswordReqFailed' | translate)}}
                            </div>
                        </div>
                
                </div>
        
            
            
            
        
            
            <div class="col-12 login-message invite-sent" >
                <div *ngIf="error" style="color: red;">{{error | translate}}</div>
                <div *ngIf="inviteSent">{{ addEmail( sentMessage | translate ) }} <span>{{'THEPASSWORDLINKSENT' | translate }}</span></div>
                <div *ngIf="registered"><span>{{'PASSWORDRESETSUCCESSPLEASELOGIN' | translate }}</span></div>

                
            </div>
            <div class="col-sm-12 mr-0 p-4 pt-0 pb-3 buttons">
        
                <button *ngIf="!inviteSent" [style.margin-left]="'auto'" 
                style="margin-top: 2em; position: initial" type="submit" 
                class="btn main-btn" id="btnSubmit" [disabled]="!valid" >
                    <span style="margin-right: 1rem; margin-left: 1rem">{{'RESETPASSWORD' | translate }}</span>
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                </button>
                <button [style.margin-left]="'auto'" style="margin-top: 2em; position: initial" 
                type="reset" class="btn" id="btnCancel" 
                (click)="backClick($event)" [translate]="cancelName"></button>
        
            </div>
            <!-- <div class="col-12 login-message {{allowChange?'valid-answers':'not-allowed'}}" >{{message | translate}}</div> -->
                </div>
                
                
        </form>
        </div>
    </div>
</div>
