app-layout[route^="/jobposition"]{
    .frow1.row {display: none;}

    .social.desktop {right: auto;bottom: .2em;top: auto;}

    app-site-footer {height: 80px;
        background: var(--footersmallcolor); 
        color: var(--footersmallfontcolor) !important;
        app-nav-item a.link-btn {
            color: var(--footersmallfontcolor) !important;
        }
        .social button svg {
            color: var(--footersmallfontcolor) !important;
        }
    }

    .site-content {min-height: calc(100vh - 80px - 80px);}

    .powered {bottom: 0.2em !important;}

    .frow2.row {height: 100%;bottom: 0;}

    button.add-doc {float: right;background: transparent;
        border: none;outline: none;color: var(--tabheaderfontcolor);}

}




app-job-position {
    display: block;
    width: 100%;
    

    .detail {
        margin-top: 2em;
    }

    .sb-icon {
        color: #777;
    }
    
    .sb-icon {
        font-size: 1.4rem !important;
        min-width: 1em !important;
        max-width: 1em;
    }
    
    .sb-content {
        width: fit-content !important;
        display: flex;
        margin: 0 !important;
        justify-content: flex-end;
    }
    
    button.sb-wrapper.sb-show-icon {
        min-width: 2.5em;
        display: flex;
        justify-content: flex-end;
    }
}

