<!-- Top navigation -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
       
    <a class="navbar-brand me-auto" href="#">RENOVA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"><i class="fas fa-globe"></i> Home</a>
            </li>
        
        </ul>
    </div>
  
  </nav>
  
  <!-- Sidebar navigation -->
  <div class="container-fluid">
    <div class="row">
  
      <nav class="col-md-2 d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" routerLink="/dashboard">
                <i class="fas fa-user"></i> &nbsp; <span class="password-label">User Profile  </span> 
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/application">
                <i class="fas fa-file-search"></i> &nbsp; <span class="password-label">Job applications</span> 
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/myapplication">
                <i class="far fa-ballot-check"></i> &nbsp; <span class="password-label">My job applications</span> 
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/upload">
                <i class="fas fa-upload"></i> &nbsp; <span class="password-label">Upload your CV</span> 
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/graph">
                <i class="far fa-chart-pie"></i> &nbsp; <span class="password-label">Applications</span> 
              </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/smtp">
                    <i class="far fa-envelope"></i>&nbsp; <span class="password-label">Email Configuration</span> 
                </a>
              </li>
            <!-- Calling SignOut() Api from AuthService -->
            <li class="nav-item">
              <a class="nav-link" (click)="authService.SignOut()">
                <i class="fas fa-sign-out-alt "></i> &nbsp; <span class="password-label">  Log out</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- Main content -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="inner-adjust">
  
          <div class="pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2 ">Job applications</h1>
          </div>
 
   <div class="tabla-responsive " >
    <br> <br>

    <div class="row" >
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-7">
            Results 1-25 of 127
          </div>
          <div class="col-sm-5">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </div>
        </div>

        
        <table class="table caption-top table-borderless" style="width: 650px;">
          <thead>
            <tr class="table-secondary text-center">
              <th scope="col">Job Title</th>
              <th scope="col">Location</th>
              <th scope="col">Department</th>
            </tr>
          </thead>
 
          <tbody>
            <tr class="text-center " style="background-color: #000000;">
              <td><input class="input-tablas found" [(ngModel)]="term" type="text" placeholder="Job Title"></td>
              <td><input class="input-tablas found" [(ngModel)]="departmen" type="text" placeholder="Location"></td>
              <td><input class="input-tablas found" [(ngModel)]="location" type="text" placeholder="Department"> </td>
            </tr>
            <tr class="text-center " *ngFor="let post of posts |filter:term |filter:departmen |filter:location | paginate: { itemsPerPage: 10, currentPage: p }; index as i; let impar = odd;let tr = even;" [ngClass]="{azul:tr,verde:impar}"  (click)="mostrar(i)" >
              <td>{{ posts[i].positionDescription}}</td>
              <td>{{ posts[i].locationProfile.englishDescription}}</td>
              <td>{{ posts[i].expertiseProfile.spanishDescription}}
                &nbsp;
                <button type="button " class="btn btn-link link-danger btn-xs" data-bs-toggle="modal" data-bs-target="#modelId ">
                  <i class="fal fa-eye" ></i>
              </button>

              </td>
            </tr>
          
          </tbody>
        </table>
             

        <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true" >
<div class="modal-dialog" style="max-width: 100% !important; height: 600px; " role="document" > 
<div class="modal-content"  >
<div class="modal-header">
    <h5 class="modal-title">Job Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
<div class="modal-body">
<div class="container-fluid">
  <div class="tabla-responsive">

    <div class="row ">
      <div class="col-3">
        <img src="assets/img/wavy1.png"  alt="">
        <p>Are you ready for</p>
        <p><h1>a rewarding career?</h1> 
        <p>Over 7,200 men and women in Puerto Rico, Virgin Islands and the United States work at Popular.</p>
        <p>Over 7,200 men and women in Puertoç Rico, Virgin Islands and the United States work at Popular.</p>
        <p>Full time opportunitty!</p>
      </div>
      <div class="col-6">
        <h4 class=""><i class="fas fa-clipboard-check" style="color:red"></i> Senior SofTware Developer</h4>
        <p>Date: Mar 7</p>
        <p>2022 Location: San Juan, PR</p>
        <div class="card-description " >
          <div class="card" >
            <div class="card-body " style="overflow-y: scroll; height: 400px;">
              <h6 class="card-title general-description text-center" > <i class="fad fa-bookmark"></i> GENERAL DESCRIPTION</h6>
              
              <div *ngFor="let post of posts index as i; "   >
                <div  [innerHTML]="posts[i].positionDetailsSpanish" ></div>
                
              </div>
              
             
            </div>
          </div>

        </div>
      </div>
      <div class="col-3">
        <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary btn-xs btn-danger round" style="width: 152px;" (click)="alta()" onclick="sendemail()">Apply Now <i class="fas fa-chevron-double-right"></i> </button>
      </div>
        <div class="card essential-postion" style="width: 400px;">
          <div class="card-body">
            <h6 class="card-subtitle general-essential text-center"> <i class="fad fa-bookmark"></i> ESSENTIAL DUTIES AND RESPONSIBILITIES</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>

    
  </div>

</div>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

</div>
</div>
</div>
</div>

<script>
var modelId = document.getElementById('modelId');

modelId.addEventListener('show.bs.modal', function (event) {
// Button that triggered the modal
let button = event.relatedTarget;
// Extract info from data-bs-* attributes
let recipient = button.getAttribute('data-bs-whatever');

// Use above variables to manipulate the DOM
});
</script>
        
      </div>
     
    </div>

    
  </div>
  
        </div>
      </main>
  
    </div>
  </div>