.site-content {margin-top: calc($headerHeight);min-height: calc(100vh - $headerHeight - $footerHeight); 
    padding-top: $navHeight; 
    display: flex;
    position: relative;
    background-color: var(--sitecontentcolor);
    color: var(--sitecontenttext);
}

@media (min-width: 600px) {
    .mobile{ display: none !important;}
}
@media (max-width: 600px) {
    .site-content {height: fit-content !important;display: flex;flex-direction: column;flex-wrap: nowrap;align-content: space-around;}
}

@media (max-height: 600px) {
    .site-content {height: fit-content !important;display: flex;flex-direction: column;flex-wrap: nowrap;align-content: space-around;}
}