<body class="container-fluid">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
       
            <a class="navbar-brand me-auto" href="#">RENOVA</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><i class="fas fa-globe"></i> Home</a>
                    </li>
                
                </ul>
            </div>
        
    </nav>

    <div class="d-flex justify-content-end opacidad " style="background-color: white">
      <button type="button" class="btn" routerLink="/tablas" >SEARCH JOBS </button>
      <button type="button" class="btn" routerLink="/create">JOIN OUR TALENT COMMUNITY</button>
      <button type="button" class="btn" routerLink="/personal">LOGIN</button>
    </div> 

      <div class=" container-fluid panel-detalle">
        <div class="row  ">
          <div class="col-sm-10">
            <button type="button" class="btn btn-dark round-back" style="width: 212px; margin-top: 7px; margin-left: 105px;">  Back to search results</button>
            <div class="input-correo" style="margin-left: 105px;">
              <label for="fname">Send me alerts every &nbsp;</label>
              <input type="text" id="fname" name="fname" class="input-round">
            </div>
            <div class="input-correo" style="margin-left: 105px;">
              <label for="fname">  Days &nbsp;</label>
              <input type="text" class="input-round">
            </div>
          </div>
          <div class="col-sm-2">
            
            <div class="d-flex justify-content-end  " >
              <P class="" style="color: #A61414;font: normal normal bold 13px/18px Open Sans; margin-top: 20px; margin-right: 20px;">SHARE </P>
              <img src="assets/img/1_01.png" style="height: 55px; width: 45px;" alt="">
                    <img src="assets/img/1_02.png" style="height: 55px; width: 45px;" alt="">
                    <img src="assets/img/1_03.png" style="height: 55px; width: 45px;"  alt="">
                    <img src="assets/img/1_04.png" style="height: 55px; width: 45px;"  alt="">
            </div> 
          </div>
   

          <div class="tabla-responsive">

            <div class="row ">
              <div class="col-3">
                <img src="assets/img/wavy1.png"  alt="">
                <p>Are you ready for</p>
                <p><h1>a rewarding career?</h1> 
                <p>Over 7,200 men and women in Puerto Rico, Virgin Islands and the United States work at Popular.</p>
                <p>Over 7,200 men and women in Puertoç Rico, Virgin Islands and the United States work at Popular.</p>
                <p>Full time opportunitty!</p>
              </div>
              <div class="col-6">
                <h4 class=""><i class="fas fa-clipboard-check" style="color:red"></i> Senior SofTware Developer</h4>
                <p>Date: Mar 7</p>
                <p>2022 Location: San Juan, PR</p>
                <div class="card-description ">
                  <div class="card" >
                    <div class="card-body">
                      <h6 class="card-title general-description text-center"> <i class="fad fa-bookmark"></i> GENERAL DESCRIPTION</h6>
                      <p class="card-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-3">
                <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-primary btn-xs btn-danger round" style="width: 152px;">Apply Now <i class="fas fa-chevron-double-right"></i> </button>
              </div>
                <div class="card essential-postion" style="width: 400px;">
                  <div class="card-body">
                    <h6 class="card-subtitle general-essential text-center"> <i class="fad fa-bookmark"></i> ESSENTIAL DUTIES AND RESPONSIBILITIES</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
              </div>
            </div>

            
          </div>

        </div>

        <div class="row justify-content-center">

          <div class="col-8 ">
           
            <ul class="list-group list-group-horizontal-lg align-items-center justify-content-center">
              <li class="list-group-item border-0">Renovasolutions.com</li>
              <li class="list-group-item border-0">view All Jobs</li>
              <li class="list-group-item border-0">Top Job Searches</li>
              <li class="list-group-item border-0">Privacy Policy</li>
            </ul>
          </div>
        </div>

    </div>

   

    
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>
